* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 70vw;
}

.submissionform {
    width: 70vw;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: .5rem;
}

.bookshelf {
    width: 70vw;
}

.tableData {
    width: 70vw;
}

.readbutton {
    width: 60px;
}

th {
    text-align: left;
}